/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */

/* Pseudo-classes */
#carousel .fa-solid:hover{
    color: greenyellow;
    text-shadow: white;
}

/* Generics */

/* Utilities */

/* Carousel content */
#carousel{
    position: relative;
    width: 800px;
    margin: 50px auto;
}
#carousel .gallery{
    height: 70vh;
}
#carousel img{
    height: 70vh;
    width: 100%;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}
#carousel img.active{
    display: block;
}
#carousel .fa-circle-chevron-left{
    position: absolute;
    left: 5px;
    top: calc(100% / 2);
    translate: 0 -50%;
    color: white;
    cursor: pointer;
}
#carousel .fa-circle-chevron-right{
    position: absolute;
    right: 5px;
    top: calc(100% / 2);
    translate: 0 -50%;
    color: white;
    cursor: pointer;
}

/* Carousel GRID */
#grid-carous{
    width: 800px;
    height: 100px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
#grid-carous img{
    height: 100%;
    width: 25%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(1);
}
#grid-carous img.active {
    filter: grayscale(0);
}
