/*CSS reset*/

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*PSEUDO-CLASSES*/
#carousel .fa-solid:hover{
    color: rgb(0, 0, 0);
    text-shadow: white;
}

/*Generics*/
body{
    background-color: black;
}
/*Utilties*/
.container{
    padding: 1rem;
    margin: 100px auto 100px auto;
    max-width: 1000px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

/*Carousel content*/
#carousel{
    position: relative;
}
#carousel .gallery{
    height: 70vh;
}
#carousel img{
    height: 70vh;
    width: 100%;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}
#carousel img.active{
    display: block;
}
#carousel .fa-circle-chevron-left{
    position: absolute;
    left: 5px;
    top: calc(100% / 2);
    translate: 0 -50%;
    color: white;
    cursor: pointer;
}
#carousel .fa-circle-chevron-right{
    position: absolute;
    right: 5px;
    top: calc(100% / 2);
    translate: 0 -50%;
    color: white;
    cursor: pointer;

}
/*Carousel GRID*/
#grid-carous{
    width: 800px;
    height: 100px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
#grid-carous img{
    height: 100%;
    width: 25%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(1);
}
#grid-carous img.active {
    filter: grayscale(0);
}